body {
    /* direction: rtl; */
    margin: 0;
    font-family: 'Cairo', 'Courier New', Courier, monospace, 'Droid Arabic Kufi', serif;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5385;
    /* color: #333; */
    text-align: left;
    /* background-color: #eee; */
    background-color: #15172b;
}

@font-face {
    font-family: 'ReadexProFont';
    src: url('./fonts/ReadexPro-Bold.ttf') format(''),
}

@font-face {
    font-family: 'Cairo';
    src: url("fonts/Cairo-Regular.eot");
    src: url("fonts/Cairo-Regular.woff") format("woff"),
    url("fonts/Cairo-Regular.svg#filename") format("svg");
} 
.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}