.form-nowrap{
    justify-content: center;
    direction: rtl;
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: min(100vw, 55em);
}
.flx-1{
    flex: 0.9;
}
.flx-2{
    flex: 2;
}
.flx-3{
    flex: 3;
}
#item-quantity ~ .placeholder{
    right: 15px;
}
#item-quantity ~ .cut {
    right: 9px;
}
.input-nowrap textarea{
    padding-top: 10px;
}
.table{
    width: 90%;
    margin-bottom: 0;
    margin: 3px 0;
}
.input-nowrap{
    height: 50px;
    margin: .4em;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.ic1 {
    margin-top: min(7vw, 30px);
    margin-bottom: min(7vw, 30px);
}
.buttons-control{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cut-very-short {
    width: 30px;
}
.insert-btn{
    position: relative;
    margin: 4px;
    color: blue;
}
.delete-btn{
    border-radius: 4em;
    color: red;
}

.form-submit{
    display: flex;
    justify-content: center;
}
.form-submitBtb{
    width: min(12vw, 5em);
    font-size: calc(0.7em + 1vmin);
    padding: 0.2em;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(54,47,189,1) 0%, rgba(0,212,255,1) 100%);
}