/* body {
    direction: rtl;
} */


.input-form{
    display: flex;
    direction: rtl;
}

.table{
    width: 90%;
    /* margin-right: 1em; */
    margin: 1em 1em;
    /* direction: rtl; */
    /* float: right; */
    /* border: 1px solid red; */
}
.teable-cols{
    text-align: center;
}
.desc-col{
    width: 60%;
}
.table-rows td{
    /* display:flex;
    flex-direction: row;
    justify-content: center; */
    vertical-align: middle; 
    display: table-cell;
    /* border: 1px solid red; */ 
}
.tableBody-cells *{
    /* border: 1px solid red; */
    border-radius: 0.3em;
    width: 100%;
}
.tableBody td{
    /* border: 1px solid red; */
}
#selectType{
    width: 100%;
}


.input-desc{
    /* border: 1px solid red; */
   
}
#orderDesc::-webkit-input-placeholder{
    text-align: center;
}

.form-control-sm {
    /* border:1px solid rgb(190, 55, 55);
    vertical-align:top; */
    vertical-align:top;
    text-align: center;
    font-size: .775rem;
    height:29px;
}

.form-control{
    width: 80%;  
}

.imput-num{
    width: 6vw;
}

.insert-new-itemBtn{
    position: relative;
    /* border: 1px solid red; */
    /* float: right; */
    /* right: 4em;
    top: 3.2em; */
    top: 4em;
    right: 2em;
}

.form-submit{
    display: flex;
    justify-content: center;
}

.form-submitBtb{
    width: 9vw;
    background: linear-gradient(90deg, rgba(54,47,189,1) 0%, rgba(0,212,255,1) 100%);
}
.delete-rowBtn{
    border-radius: 4em;
    color: red;
}