:root{
    --s1vw_4em : min(1vw, 4em);
    --s1_3vw_0_8em : min(1.1vw, .8em);
    --s2_2vw_1em : min(2vw, 1em);
    --s2vw_1_1em : min(2vw, 1.1em);
    --s2_2vw_1_em : min(2.2vw, 1em);
    --s2_2vw_1_1em : min(2.2vw, 1.1em);
    --s2vw_1em : min(2vw, 1em);
    --s2_5vw_1_1em : min(2.5vw, 1.1em);
    --s2_4vw_1_2em : min(2.4vw, 1.2em);
}

.card-header {
    /* height: 10vw; */
    /* padding: .9375rem 1.25rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 4px;
    /* background-color: #2196f3; */
    background-color: rgba(0, 0, 0, .02);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}
.card-header p{
    margin: 0;
    padding: 0;
    font-size: var(--s2_2vw_1_em);
}

.info-row{
    /* background-color: #333; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0; */
    text-align: center;
    padding-top: 10px;
    direction: ltr;
    /* border: 1px solid red; */
}
.col-md-12 {
    padding : 0;
}
#invoice{
    break-before: always;
    break-after: always;
    width: 90vw;
    /* height: min(90vh, 762px); */
    direction: rtl;
    padding-bottom: 0;
    margin-bottom: 0;
}
.invoice_date_number{
    flex: 1;
}

.store_info_invoice{
    flex: 1;
    /* background-color: #2196f3; */
}
.invoice_info > *{
    font-size: var(--s2_2vw_1_em);
}
.print_table{
    width: 100%;
}
.print_table_head tr{
    font-size: var(--s2_2vw_1_1em);
    /* background-color: rebeccapurple; */
}
.print_table_body td, .print_table_body td *{
    font-size: var(--s2vw_1em);
    /* background-color: red; */
}
.itemNum{
    /* display: block; */
    padding: 10px 0 !important;
    color: red;
    text-align: center;
}
.desc_section{
    position: relative;
    /* text-align: center; */
    /* margin-right: 2em; */
    text-align: start;
    width: 55%;
    /* background-color: #2196f3; */
    /* width: 100%; */
}

.total-title{
    display: flex;
    flex-wrap: wrap;
    padding-right: 12px;
}
.total-title > *{
    font-size: var(--s2_5vw_1_1em);
    font-weight: bold;
    padding: 0;
    margin: 0
}

.text-right{
    font-size: var(--s2vw_1_1em);
    white-space: nowrap;
    /* background-color:aqua; */
}
.text-left{
    font-size: var(--s2vw_1_1em);
    white-space: nowrap;
    /* background-color: red; */
}
.total-include-tax {
    font-size: var(--s2_2vw_1_2em);
    white-space: nowrap
}
.card-title {
    position: absolute;
    right: 0.9em;
    margin-top: 10px;
    font-size: 17px;

    /* left: 10em; */
}

.invoice-color {
    color: red !important;
    display: block;
    margin-bottom: 0.5rem;
}

.invoice-rs-info{
    display: block;
    margin-bottom: 0.5rem;
    /* overflow: hidden;
    white-space: nowrap; */
}

a {
    text-decoration: none !important
}

.btn-light {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd
}

.header-elements-inline {
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.total_body{
    position: relative; 
    margin-top: 5em;
    bottom: 3em;
    width: 50%;
}
.btn-primary {
    color: #fff;
    /* background-color: #2196f3; */
    background: linear-gradient(90deg, rgba(54,47,189,1) 0%, rgba(0,212,255,1) 100%);
    font-size: var(--s2_2vw_1em);
    font-weight: bold;
    margin-left: 5px;
    /* width: min(20vw, 4em); */
}

.btn-labeled {
    position: absolute;
    font-size: var(--s1vw_4em);
    top: -1px;
    /* background-color: blue; */
    display: block;
    line-height: 1;
    /* padding: .62503rem; */
}



.table-responsive{
    display: flex;
}

.barcode-tag{
    flex: 1;
}
.total-tableTitle{
    /* position: absolute; */
    /* right: 2em; */
    /* width: 50%; */
    /* position: relative; */
    /* max-width: 50%; */
    width: 50%;
    /* background-color: aqua; */
    padding: 0 10px 0;
    text-align: right;
}
.desc-input{
    /* font-size: 3px; */
}
.text-muted{
    /* border: 1px solid green; */
    font-size: var(--s1_3vw_0_8em);
}

.row{
    width: min(80vw, 55em);
}
.table{
    /* width: 90vw; */
    /* border: 1px solid red; */
}

/* .main-table{
    width: 100%;
    background-color: rebeccapurple;
} */
/* .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
} */

/* when prenting only prent the invoice*/
@media print {
    body * {
        visibility: hidden;
    }
    #invoice, #invoice * {
        visibility: visible;
    }
    :root{
        --s1vw_4em : 15px;
        --s1_3vw_0_8em : 18px;
        --s2_2vw_1em : 28px;
        --s2vw_1_1em : 25px;
        --s2_2vw_1_em : 18px;
        --s2_2vw_1_1em : 22px;
        --s2vw_1em : 18px;
        --s2_5vw_1_1em : 28px;
        --s2_4vw_1_2em : 26px;
    }
    #invoice {
        display: block !important;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        /* width: auto; */
        height: 100%;
        width: 100%;
        /* background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0; */
    }
    .total_body{
        position: absolute; 
        bottom: 3em;
        width: 50%;
    }
    #invoice:last-child {
        page-break-after: auto;
    }
    /* .card-header p{
        font-size: 1em;
    }
    .invoice_info > *{
        font-size: 1em;
    }
    .print_table_head tr{
        font-size: 1.1em;
    }
    .print_table_body td, .print_table_body td *{
        font-size: .9em;
    }
    .total-title > *{
        font-size: 1.1em;
    }
    
    .text-right{
        font-size: 1.1em;
    }
    .text-left{
        font-size: 1.1em;
    }
    .total-include-tax {
        font-size: 1.2em;
    }
    .text-muted{
        font-size: .8em;
    } */

    /* @page {
        size: 1600px;
    }

    html, body {
        width:  210mm;
        height: 297mm;
    }
    
    #invoice {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    } */
}

.blurBG{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #000;
    opacity: 1;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* filter: blur(3px); */
    z-index: 20;
    /* filter: blur(3px);
    -webkit-filter: blur(3px); */
    
}

.loader{
    position: relative;
    margin-bottom: 10px;
    width:10em;
    height:10em;
    border:10px solid #A9A9AC;
    border-top:10px solid #00BFFF;
    border-radius:50%;
}

.loader{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation: 1.2s rotate infinite linear; */
}
.loader_text{
    position: relative;
    color: white;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}